:root {
	// header
	--header-height: 60px;
	// sidenav
	--sidenav-width: 80px;
	--search-message: 48px;
	--input-text: 61px;
	--helper-item-color: #0ad69c;
	--space: 44px;
	--header-color: #252f48;
	--shadow: 0 1px 2px rgba(0, 0, 0, 0.085), 0 1px 8px rgba(0, 0, 0, 0.1);
}
